@if (vm(); as vm) {
  <form (ngSubmit)="submitForm()" class="vstack gap-3">
    <!-- <div class="form-floating">
      <input
        class="form-control h-auto"
        [(ngModel)]="vm.filePath"
        name="filePath"
      />
      <label>File Path</label>
    </div>

    <div class="form-floating">
      <input
        class="form-control h-auto"
        [(ngModel)]="vm.mimeType"
        name="mimeType"
      />
      <label>Mime Type</label>
    </div> -->

    <input type="submit" />
    <input type="button" value="Cancel" (click)="cancelForm()" />
  </form>
}
