version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    open-pull-requests-limit: 10
    assignees:
      - sharth
    schedule:
      interval: "weekly"
    groups:
      angular:
        patterns:
          - "@angular/*"
      eslint:
        patterns:
          - "@eslint/*"
          - "eslint"
          - "typescript-eslint"
      fonts:
        patterns:
          - "@fontsource/*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
