@if (node(); as node) {
  <h2>
    @for (
      crumb of breadcrumbs();
      track crumb.slugs.join("/");
      let last = $last
    ) {
      <a [routerLink]="['/place', ...crumb.slugs]">{{ crumb.name }}</a>
      @if (!last) {
        <span> &rsaquo; </span>
      }
    }
  </h2>

  @if (children().length) {
    <h4>Regions</h4>
    <ul class="list-group mb-4">
      @for (child of children(); track child.name) {
        <li class="list-group-item">
          <a [routerLink]="['/place', ...placeNodeSlugs(child)]">{{
            child.name
          }}</a>
        </li>
      }
    </ul>
  }

  @if (node.place; as place) {
    @for (address of place.addresses; track address.name) {
      <div class="card my-3">
        <div class="card-header bg-light">
          <h5 class="mb-0">{{ address.name }}</h5>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-striped mb-0">
            <thead>
              <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Person / Family</th>
              </tr>
            </thead>
            <tbody>
              @for (event of address.events; track $index) {
                <tr>
                  <td>{{ event.eventType }}</td>
                  <td>{{ event.date }}</td>
                  <td>
                    @if (event.isFamily) {
                      <a [routerLink]="['/family', event.linkXref]">{{
                        event.linkName
                      }}</a>
                    } @else {
                      <a [routerLink]="['/individual', event.linkXref]">{{
                        event.linkName
                      }}</a>
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    }
  } @else if (!children().length) {
    <p>No events recorded for this place.</p>
  }
} @else {
  <p>Place not found.</p>
}
