@if (place(); as place) {
  <h2>{{ place.name }}</h2>

  @for (address of place.addresses; track address.name) {
    <div class="card my-3">
      <div class="card-header bg-light">
        <h5 class="mb-0">{{ address.name }}</h5>
      </div>
      <div class="table-responsive">
        <table class="table table-sm table-striped mb-0">
          <thead>
            <tr>
              <th>Event</th>
              <th>Date</th>
              <th>Person / Family</th>
            </tr>
          </thead>
          <tbody>
            @for (event of address.events; track $index) {
              <tr>
                <td>{{ event.eventType }}</td>
                <td>{{ event.date }}</td>
                <td>
                  @if (event.isFamily) {
                    <span>{{ event.linkName }}</span>
                  } @else {
                    <a [routerLink]="['/individual', event.linkXref]">{{
                      event.linkName
                    }}</a>
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  }
} @else {
  <p>Place not found.</p>
}
