@if (vm(); as vm) {
  <h2>Name</h2>
  <p>{{ vm.name }}</p>

  <h2>Sex</h2>
  <!-- TODO: Include the citations. -->
  <p>{{ vm.sex }}</p>

  <ul class="nav nav-tabs mb-3" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        [class.active]="activeTab() === 'facts'"
        (click)="activeTab.set('facts')"
        type="button"
        role="tab"
        [attr.aria-selected]="activeTab() === 'facts'"
      >
        Facts
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        [class.active]="activeTab() === 'ancestors'"
        (click)="activeTab.set('ancestors')"
        type="button"
        role="tab"
        [attr.aria-selected]="activeTab() === 'ancestors'"
      >
        Ancestors
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        [class.active]="activeTab() === 'gedcom'"
        (click)="activeTab.set('gedcom')"
        type="button"
        role="tab"
        [attr.aria-selected]="activeTab() === 'gedcom'"
      >
        Gedcom
      </button>
    </li>
  </ul>

  @if (activeTab() === "facts") {
    <app-individual-facts
      [ancestryDatabase]="ancestryDatabase()"
      [xref]="xref()"
    />
  }

  @if (activeTab() === "ancestors") {
    <app-individual-ancestors
      [ancestryDatabase]="ancestryDatabase()"
      [xref]="xref()"
    />
  }

  @if (activeTab() === "gedcom") {
    <app-individual-gedcom
      [ancestryDatabase]="ancestryDatabase()"
      [xref]="xref()"
    />
  }

  <div class="position-fixed bottom-0 end-0 rounded-circle m-5">
    <button
      type="button"
      class="btn btn-primary btn-lg bi-pencil"
      aria-label="Edit individual"
      (click)="editDialog.showModal()"
    ></button>
  </div>

  <app-gedcom-editor-dialog
    #editDialog
    type="INDI"
    [xref]="xref()"
    [ancestryDatabase]="ancestryDatabase()"
  />
}
