<h2>Name</h2>
<p>{{ individual().name }}</p>

<h2>Relatives</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Relation</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let relative of relatives()">
            <td>{{ relative.relationship }}</td>
            <td><a routerLink="/individual/{{ relative.individual.xref }}">{{ relative.individual.name }}</a></td>
        </tr>
    </tbody>
</table>

<h2>Events</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Event</th>
            <th scope="col">Date</th>
            <th scope="col">Location</th>
            <th scope="col">Cause</th>
            <th scope="col">Sources</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of individual().events">
            <td>{{ event.description }}</td>
            <td>{{ event.date }}</td>
            <td>
                <ng-container *ngIf="event.address">{{event.address}}<br></ng-container>
                <ng-container *ngIf="event.place">{{event.place}}<br></ng-container>
            </td>
            <td>{{ event.cause }}</td>
            <td>
                <ng-container *ngFor="let citation of event.citations">
                    <a routerLink="/source/{{citation.source.xref}}">{{ citation.source.xref }}</a>
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>

<h2>Ancestors</h2>
<ol>
    <ng-container *ngFor="let ancestor of ancestors(); index as ahnentafel;">
        <li *ngIf="ancestor" value="{{ahnentafel}}"><a routerLink="/individual/{{ancestor.xref}}">{{ancestor.name}}</a></li>
    </ng-container>
</ol>
