@if (vm(); as vm) {
  <h2>Sunburst</h2>
  <app-individual-sunburst
    [ancestryDatabase]="ancestryDatabase()"
    [individual]="vm.individual"
  />

  <h2>Ancestors</h2>
  <ol>
    @for (ancestor of vm.ancestors; let ahnentafel = $index; track $index) {
      @if (ancestor !== undefined) {
        <li value="{{ ahnentafel }}">
          <app-individual-link [xref]="ancestor.xref" />
        </li>
      }
    }
  </ol>

  <h2>Relatives</h2>
  <app-individual-relatives
    [ancestryDatabase]="ancestryDatabase()"
    [individual]="vm.individual"
  />
}
