div {
  white-space: pre-wrap;
}

mat-form-field {
  width: 100%;
}

textarea {
  field-sizing: content;
}

table {
  width: 100%;
}

table thead {
  background-color: lightblue;
}

table tbody tr:nth-child(2n + 0) {
  background-color: gainsboro;
}

table tbody tr:nth-child(2n + 1) {
  background-color: whitesmoke;
}
