<h1>{{ source().abbr?.value }}</h1>

<h2>Text</h2>
<textarea class="form-control">{{ source().text?.value }}</textarea>

<h2>Repositories</h2>
<table>
    <thead>
        <tr>
            <td>Repository</td>
            <td>Call Number</td>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let repository of source().repositories">
            <tr *ngFor="let callNumber of repository.callNumbers">
                <td>
                    <a routerLink="/repository/{{repository.repositoryXref}}">
                        {{ancestryService.repository(repository.repositoryXref).name}}
                    </a>
                </td>
                <td>
                    {{callNumber}}
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>