<div class="navbar navbar-light bg-light navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="/favicon.ico" style="height: 1em" />
      ancestry.lynch.us
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/individuals">Individuals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sources">Sources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/repositories">Repositories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/multimedias">Multimedia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/validation">Validation</a>
        </li>
      </ul>
      <span class="mx-3"></span>
      <form class="d-flex">
        <input type="button" (click)="openFile()" value="Open File" />
      </form>
      <form class="d-flex">
        <input
          type="button"
          (click)="requestPermissions()"
          value="Request Permissions"
        />
      </form>
      <span class="mx-3"></span>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
