<details #container (toggle)="(true)">
  <summary>Notes ({{ form.length }})</summary>
  @defer (when container.open) {
    @for (note of form; track note) {
      <details [open]="open()">
        <summary>
          <button
            class="btn btn-sm btn-outline-danger bi-trash"
            type="button"
            aria-label="Remove note"
            (click)="removeNote($index)"
          ></button>
          {{ note.text().value() }}
        </summary>
        <div class="form-floating">
          <input
            class="form-control"
            type="text"
            id="text_{{ $index }}"
            [formField]="note.text"
          />
          <label for="text_{{ $index }}">Note</label>
        </div>
      </details>
    }
    <div
      class="details-lookalike"
      tabindex="0"
      (click)="appendNote()"
      (keydown.enter)="appendNote()"
    >
      <button
        type="button"
        class="btn btn-sm btn-outline-primary bi-plus"
        aria-label="Append note"
        (click)="$event.preventDefault()"
      ></button>
      Append note
    </div>
  }
</details>
