<details #container (toggle)="(true)">
  <summary>Multimedia ({{ form.length }})</summary>
  @defer (when container.open) {
    @for (multimediaLink of form; track multimediaLink) {
      <details [open]="newControls.has(multimediaLink)">
        <summary>
          <button
            class="btn btn-sm btn-outline-danger bi-trash"
            type="button"
            aria-label="Remove multimedia link"
            (click)="removeMultimediaLink($index)"
          ></button>
          {{
            multimediaLink.title().value() ||
              multimediaLink.xref().value() ||
              "Untitled"
          }}
        </summary>
        <div class="form-floating">
          <select
            #focusTarget
            class="form-select"
            [formField]="multimediaLink.xref"
          >
            <option selected value="">Multimedia...</option>
            @for (multimedia of multimedias(); track multimedia.xref) {
              <option value="{{ multimedia.xref }}">
                {{ multimedia.xref }}
              </option>
            }
          </select>
        </div>
        <div class="form-floating">
          <input
            class="form-control"
            type="text"
            id="title_{{ $index }}"
            [formField]="multimediaLink.title"
          />
          <label for="title_{{ $index }}">Custom Title</label>
        </div>
      </details>
    }
    <div
      class="details-lookalike"
      tabindex="0"
      (click)="appendMultimediaLink()"
      (keydown.enter)="appendMultimediaLink()"
    >
      <button
        type="button"
        class="btn btn-sm btn-outline-primary bi-plus"
        aria-label="Add multimedia"
        (click)="$event.preventDefault()"
      ></button>
      Append multimedia
    </div>
  }
</details>
