<details #container (toggle)="(true)">
  <summary>Multimedia ({{ form.length }})</summary>
  @defer (when container.open) {
    @for (multimediaLink of form; track multimediaLink) {
      @let mediaXref = multimediaLink.xref().value();
      <details [open]="newControls.has(multimediaLink)">
        <summary>
          <button
            class="btn btn-sm btn-outline-danger bi-trash"
            type="button"
            aria-label="Remove multimedia link"
            (click)="removeMultimediaLink($index)"
          ></button>
          {{ multimediaLink.title().value() || mediaXref || "Untitled" }}
        </summary>
        <div class="d-flex gap-2 align-items-center mb-2">
          <div class="form-floating flex-grow-1">
            <select
              #focusTarget
              id="media_{{ $index }}"
              class="form-select"
              [formField]="multimediaLink.xref"
            >
              <option selected value="">Multimedia...</option>
              @for (multimedia of multimedias(); track multimedia.xref) {
                <option value="{{ multimedia.xref }}">
                  {{ multimedia.title || multimedia.xref }}
                </option>
              }
            </select>
            <label for="media_{{ $index }}">Multimedia Record</label>
          </div>
          @if (gedcomEditor) {
            <button
              type="button"
              class="btn btn-sm btn-outline-primary text-nowrap"
              /* (click)="createNewMultimedia($index)" */
              title="Create a new multimedia record and open in tab"
            >
              <i class="bi bi-plus"></i> New
            </button>
            @if (mediaXref) {
              <button
                type="button"
                class="btn btn-sm btn-outline-secondary text-nowrap"
                /* (click)="openMultimediaInSession(mediaXref)" */
                title="Edit multimedia in a session tab"
              >
                <i class="bi bi-pencil"></i> Edit
              </button>
            }
          }
        </div>
        <div class="form-floating">
          <input
            class="form-control"
            type="text"
            id="title_{{ $index }}"
            [formField]="multimediaLink.title"
          />
          <label for="title_{{ $index }}">Custom Title</label>
        </div>
      </details>
    }
    <div
      class="details-lookalike"
      tabindex="0"
      (click)="appendMultimediaLink()"
      (keydown.enter)="appendMultimediaLink()"
    >
      <button
        type="button"
        class="btn btn-sm btn-outline-primary bi-plus"
        aria-label="Add multimedia"
        (click)="$event.preventDefault()"
      ></button>
      Append multimedia
    </div>
  }
</details>
