@if (events(); as events) {
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Event</th>
        <th scope="col">Type</th>
        <th scope="col">Date</th>
        <th scope="col">Location</th>
        <th scope="col">Detail</th>
        <th scope="col">Citations</th>
      </tr>
    </thead>
    <tbody>
      @for (event of events; track event) {
        <tr>
          <td>{{ event.tag }}</td>
          <td>{{ event.type }}</td>
          <td>{{ event.date.value }}</td>
          <td>
            @if (event.address) {
              {{ event.address }} <br />
            }
            @if (event.place) {
              {{ event.place }} <br />
            }
          </td>
          <td>
            @if (event.cause) {
              {{ event.cause }}<br />
            }
            @if (event.value) {
              {{ event.value }}<br />
            }
          </td>
          <td>
            @for (citation of event.citations; track citation) {
              <a routerLink="/source/{{ citation.sourceXref }}">
                {{ citation.sourceXref }}
              </a>
              {{ " " }}
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
}
