table {
  background-color: lightgoldenrodyellow;
  border: 3px solid black;
  width: 100%;
}

table thead {
  background-color: orange;
  font-weight: bold;
}

div {
  white-space: pre-wrap;
}

mat-form-field {
  width: 100%;
}

textarea {
  field-sizing: content;
  height: auto !important;
}

details::details-content {
  padding-left: 1em;
}

div.details-lookalike {
  cursor: pointer;
  display: list-item;
  list-style: inside disclosure-closed;
}
