<div class="form-floating">
  <textarea
    id="abbr"
    class="form-control h-auto"
    [formField]="form.abbr"
  ></textarea>
  <label for="abbr">Short Title</label>
</div>

<div class="form-floating">
  <textarea
    id="title"
    class="form-control h-auto"
    [formField]="form.title"
  ></textarea>
  <label for="title">Title</label>
</div>

<div class="form-floating">
  <textarea
    id="text"
    class="form-control h-auto"
    [formField]="form.text"
  ></textarea>
  <label for="text">Text</label>
</div>

<app-input-repository-links
  [formField]="form.repositoryLinks"
  [(ancestryDatabase)]="ancestryDatabase"
></app-input-repository-links>

<app-input-multimedia-links
  [formField]="form.multimediaLinks"
  [(ancestryDatabase)]="ancestryDatabase"
></app-input-multimedia-links>

<app-input-unknown-records
  [formField]="form.unknownRecords"
  [(ancestryDatabase)]="ancestryDatabase"
></app-input-unknown-records>
