<table>
  <tbody>
    @for (name of formArray.controls; track $index; let i = $index) {
      <tr>
        <td>
          <button
            type="button"
            class="btn btn-danger bi-trash"
            (click)="removeName(i)"
          ></button>
        </td>
        <td class="form-floating">
          <input
            class="form-control"
            id="prefix_{{ $index }}"
            [formControl]="name.controls.prefix"
          />
          <label for="prefix_{{ $index }}">Prefix</label>
        </td>
        <td class="form-floating">
          <input
            class="form-control"
            id="given_{{ $index }}"
            [formControl]="name.controls.givenName"
          />
          <label for="given_{{ $index }}">Given Name</label>
        </td>
        <td class="form-floating">
          <input
            class="form-control"
            id="nick_{{ $index }}"
            [formControl]="name.controls.nickName"
          />
          <label for="nick_{{ $index }}">Nickname</label>
        </td>
        <td class="form-floating">
          <input
            class="form-control"
            id="surnamePrefix_{{ $index }}"
            [formControl]="name.controls.surnamePrefix"
          />
          <label for="surnamePrefix_{{ $index }}">Surname Prefix</label>
        </td>
        <td class="form-floating">
          <input
            class="form-control"
            id="surname_{{ $index }}"
            [formControl]="name.controls.surname"
          />
          <label for="surname_{{ $index }}">Surname</label>
        </td>
        <td class="form-floating">
          <input
            class="form-control"
            id="suffix_{{ $index }}"
            [formControl]="name.controls.suffix"
          />
          <label for="suffix_{{ $index }}">Suffix</label>
        </td>
      </tr>
      <tr>
        <td>Citations</td>
        <td colspan="6">
          <app-input-citations
            [formControl]="name.controls.citations"
          ></app-input-citations>
        </td>
      </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <th>
        <button
          type="button"
          class="btn btn-outline-primary bi-plus"
          (click)="appendName()"
        ></button>
      </th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>
</table>
