<details #container (toggle)="(true)">
  <summary>Shared With ({{ form.length }})</summary>
  @defer (when container.open) {
    @for (formGroup of form; track formGroup) {
      <details [open]="newControls.has(formGroup)">
        <summary>
          {{ formGroup.xref().value() }}
          <button
            type="button"
            class="btn btn-sm btn-outline-danger bi-trash"
            (click)="removeSharedEvent($index)"
          ></button>
        </summary>
        <app-input-individual-xref
          #focusTarget
          [field]="formGroup.xref"
          [ancestryDatabase]="ancestryDatabase()"
        ></app-input-individual-xref>
        <div class="form-floating">
          <input
            class="form-control"
            id="role_{{ $index }}"
            [field]="formGroup.role"
          />
          <label for="role_{{ $index }}">Role</label>
        </div>
      </details>
    }
    <div class="details-lookalike" (click)="appendSharedEvent()">
      <button
        type="button"
        class="btn btn-sm btn-outline-primary bi-plus"
        (click)="$event.preventDefault()"
      ></button>
      Share event with another individual
    </div>
  }
</details>
