<details #container (toggle)="(true)" [open]="open()">
  <summary>Notes ({{ form.length }})</summary>
  @defer (when container.open) {
    <table>
      <tbody>
        @for (note of form; track note) {
          <tr>
            <td>
              <button 
                type="button"
                class="btn btn-danger bi-trash"
                (click)="removeNote($index)"
              ></button>
            </td>
            <td class="form-floating">
              <textarea
                #focusTarget
                class="form-control"
                [field]="note.text"
              ></textarea>
              <label>Text</label>
            </td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <th>
            <button
              type="button"
              class="btn btn-outline-primary bi-plus"
              (click)="appendNote()"
            ></button>
          </th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  }
</details>
