<details>
  <summary>Unknown Records ({{ formArray.length }})</summary>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Unknown Gedcom Record</th>
      </tr>
    </thead>
    <tbody>
      @for (unknownRecord of formArray.controls; track $index) {
        <tr>
          <td>
            <button
              class="btn btn-outline-secondary bi bi-trash"
              type="button"
              (click)="removeUnknownRecord($index)"
            ></button>
          </td>
          <td>
            <pre>{{
              serializeGedcomRecordToText(unknownRecord.value).join("\n")
            }}</pre>
          </td>
        </tr>
      }
    </tbody>
  </table>
</details>
