table {
  background-color: lightgoldenrodyellow;
  border: 3px solid black;
  width: 100%;
}

table thead {
  background-color: orange;
  font-weight: bold;
}

table tbody tr {
  border: 3px solid black;
}

div {
  white-space: pre-wrap;
}

mat-form-field {
  width: 100%;
}

textarea {
  field-sizing: content;
  height: auto !important;
}
