<details>
  <summary>Citations ({{ formArray.length }})</summary>
  <table>
    <tbody>
      @for (formGroup of formArray.controls; track $index) {
        <tr style="border: 0">
          <td rowspan="4" class="align-top">
            <button
              type="button"
              class="btn btn-danger bi-trash"
              (click)="removeCitation($index)"
            ></button>
          </td>
          <td>
            <app-input-source-xref
              #focusTarget
              [formControl]="formGroup.controls.sourceXref"
              [ancestryDatabase]="ancestryDatabase()"
            ></app-input-source-xref>
          </td>
          <td class="form-floating">
            <input
              class="form-control"
              id="page_{{ $index }}"
              [formControl]="formGroup.controls.page"
            />
            <label for="`page_{{ $index }}`">Page</label>
          </td>
          <td class="form-floating">
            <input
              class="form-control"
              id="quality_{{ $index }}"
              [formControl]="formGroup.controls.quality"
            />
            <label for="`quality_{{ $index }}`">Quality</label>
          </td>
        </tr>
        <tr style="border: 0">
          <td class="form-floating" colspan="7">
            <textarea
              class="form-control"
              id="text_{{ $index }}"
              [formControl]="formGroup.controls.text"
            ></textarea>
            <label for="`text_{{ $index }}`">Text</label>
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <app-input-multimedia-links
              [formControl]="formGroup.controls.multimediaLinks"
              [(ancestryDatabase)]="ancestryDatabase"
            ></app-input-multimedia-links>
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <app-input-notes
              [formControl]="formGroup.controls.notes"
              [(ancestryDatabase)]="ancestryDatabase"
            ></app-input-notes>
          </td>
        </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <th>
          <button
            type="button"
            class="btn btn-outline-primary bi-plus"
            (click)="appendCitation()"
          ></button>
        </th>
      </tr>
    </tfoot>
  </table>
</details>
