<details #container (toggle)="(true)">
  <summary>Citations ({{ form.length }})</summary>
  @defer (when container.open) {
    @for (formGroup of form; track formGroup) {
      <details>
        <summary>
          <button
            type="button"
            class="btn btn-sm btn-outline-danger bi-trash"
            (click)="removeCitation($index)"
          ></button>
          @let sourceXref = formGroup.sourceXref().value();
          @let source = ancestryDatabase().sources[sourceXref];
          {{ source?.abbr || sourceXref }}
        </summary>
        <div class="form-floating">
          <app-input-source-xref
            #focusTarget
            [formField]="formGroup.sourceXref"
            [ancestryDatabase]="ancestryDatabase()"
          ></app-input-source-xref>
        </div>
        <div class="form-floating">
          <input
            class="form-control"
            id="page_{{ $index }}"
            [formField]="formGroup.page"
          />
          <label for="`page_{{ $index }}`">Page</label>
        </div>
        <div class="form-floating">
          <input
            class="form-control"
            id="quality_{{ $index }}"
            [formField]="formGroup.quality"
          />
          <label for="`quality_{{ $index }}`">Quality</label>
        </div>
        <div class="form-floating">
          <textarea
            class="form-control"
            id="text_{{ $index }}"
            [formField]="formGroup.text"
          ></textarea>
          <label for="`text_{{ $index }}`">Text</label>
        </div>
        <app-input-multimedia-links
          [formField]="formGroup.multimediaLinks"
          [(ancestryDatabase)]="ancestryDatabase"
        ></app-input-multimedia-links>
        <app-input-notes
          [formField]="formGroup.notes"
          [(ancestryDatabase)]="ancestryDatabase"
        ></app-input-notes>
      </details>
    }
    <div class="details-lookalike" (click)="appendCitation()">
      <button
        type="button"
        class="btn btn-sm btn-outline-primary bi-plus"
        (click)="$event.preventDefault()"
      ></button>
      Append another citation
    </div>
  }
</details>
