<table>
  <tbody>
    @for (note of formArray.controls; track $index; let i = $index) {
      <tr>
        <td>
          <button
            type="button"
            class="btn btn-danger bi-trash"
            (click)="removeNote(i)"
          ></button>
        </td>
        <td class="form-floating">
          <textarea
            class="form-control"
            [formControl]="note.controls.text"
          ></textarea>
          <label>Text</label>
        </td>
      </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <th>
        <button
          type="button"
          class="btn btn-outline-primary bi-plus"
          (click)="appendNote()"
        ></button>
      </th>
      <th></th>
    </tr>
  </tfoot>
</table>
