<details #container (toggle)="(true)" [open]="open()">
  <summary>Unknown Records ({{ value().length }})</summary>
  @defer (when container.open) {
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Unknown Gedcom Record</th>
        </tr>
      </thead>
      <tbody>
        @for (unknownRecord of value(); track $index) {
          <tr>
            <td>
              <button
                class="btn btn-outline-secondary bi bi-trash"
                type="button"
                (click)="removeUnknownRecord($index)"
              ></button>
            </td>
            <td>
              <pre>{{
                serializeGedcomRecordToText(unknownRecord).join("\n")
              }}</pre>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</details>
