<div class="form-floating">
  <textarea class="form-control h-auto" [formField]="form.abbr"></textarea>
  <label>Short Title</label>
</div>

<div class="form-floating">
  <textarea class="form-control h-auto" [formField]="form.title"></textarea>
  <label>Title</label>
</div>

<div class="form-floating">
  <textarea class="form-control h-auto" [formField]="form.text"></textarea>
  <label>Text</label>
</div>

<app-input-repository-links
  [formField]="form.repositoryLinks"
  [(ancestryDatabase)]="ancestryDatabase"
></app-input-repository-links>

<app-input-multimedia-links
  [formField]="form.multimediaLinks"
  [(ancestryDatabase)]="ancestryDatabase"
></app-input-multimedia-links>

<app-input-unknown-records
  [formField]="form.unknownRecords"
  [(ancestryDatabase)]="ancestryDatabase"
></app-input-unknown-records>
