<details #container (toggle)="(true)">
  <summary>Repositories ({{ form.length }})</summary>
  @defer (when container.open) {
    @for (formGroup of form; track formGroup) {
      @let repositoryXref = formGroup.repositoryXref().value();
      <details [open]="newControls.has(formGroup)">
        <summary>
          <button
            class="btn btn-sm btn-outline-danger bi-trash"
            type="button"
            aria-label="Remove repository link"
            (click)="removeCitation($index)"
          ></button>
          {{
            ancestryDatabase().repositories[repositoryXref]?.name ??
              "Unknown repository"
          }}
        </summary>
        <app-input-repository-xref
          #focusTarget
          [formField]="formGroup.repositoryXref"
          [(ancestryDatabase)]="ancestryDatabase"
        ></app-input-repository-xref>
        <app-input-repository-call-number
          [formField]="formGroup.callNumber"
          [(ancestryDatabase)]="ancestryDatabase"
        ></app-input-repository-call-number>
      </details>
    }
    <div
      class="details-lookalike"
      tabindex="0"
      (click)="appendCitation()"
      (keydown.enter)="appendCitation()"
    >
      <button
        class="btn btn-sm btn-outline-primary bi-plus"
        aria-label="Add repository link"
        (click)="$event.preventDefault()"
      ></button>
      Associate with another repository
    </div>
  }
</details>
