<details #container (toggle)="(true)" [open]="open()">
  <summary>Sex ({{ form.controls.sex.value }})</summary>
  @defer (when container.open) {
    <div class="form-floating">
      <select class="form-select" id="sex" [formControl]="form.controls.sex">
        <option value=""></option>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
      <label for="sex">Sex</label>
    </div>
    <app-input-source-citations
      [formControl]="form.controls.citations"
      [(ancestryDatabase)]="ancestryDatabase"
    ></app-input-source-citations>
  }
</details>
