<app-input-individual-names
  [open]="open()"
  [formControl]="form.controls.names"
  [(ancestryDatabase)]="ancestryDatabase"
></app-input-individual-names>

<app-input-individual-sex
  [open]="open()"
  [formControl]="form.controls.sex"
  [(ancestryDatabase)]="ancestryDatabase"
></app-input-individual-sex>

<app-input-individual-events
  [open]="open()"
  [formControl]="form.controls.events"
  [(ancestryDatabase)]="ancestryDatabase"
></app-input-individual-events>

<app-input-notes
  [open]="open()"
  [formControl]="form.controls.notes"
  [(ancestryDatabase)]="ancestryDatabase"
></app-input-notes>

<app-input-unknown-records
  [open]="open()"
  [formControl]="form.controls.unknownRecords"
  [(ancestryDatabase)]="ancestryDatabase"
></app-input-unknown-records>
