<div class="form-floating">
  <textarea
    class="form-control h-auto"
    [formControl]="form.controls.abbr"
  ></textarea>
  <label>Short Title</label>
</div>

<div class="form-floating">
  <textarea
    class="form-control h-auto"
    [formControl]="form.controls.title"
  ></textarea>
  <label>Title</label>
</div>

<div class="form-floating">
  <textarea
    class="form-control h-auto"
    [formControl]="form.controls.text"
  ></textarea>
  <label>Text</label>
</div>

<h2>Repositories</h2>
<app-input-repository-links
  [formControl]="form.controls.repositoryLinks"
  [(ancestryDatabase)]="ancestryDatabase"
></app-input-repository-links>

<h2>Multimedia</h2>
<app-input-multimedia-links
  [formControl]="form.controls.multimediaLinks"
  [(ancestryDatabase)]="ancestryDatabase"
></app-input-multimedia-links>

<h2>Unknown Records</h2>
<app-input-unknown-records
  [formControl]="form.controls.unknownRecords"
  [(ancestryDatabase)]="ancestryDatabase"
></app-input-unknown-records>
