<div class="input-group mb-3">
  <div class="form-floating">
    <input
      class="form-control h-auto"
      [formField]="form.filePath"
      id="filePath"
    />
    <label for="filePath">File Path</label>
  </div>
  <button
    class="btn btn-outline-secondary"
    type="button"
    (click)="browseFile()"
  >
    Browse...
  </button>
</div>

<div class="form-floating">
  <input
    class="form-control h-auto"
    [formField]="form.mediaType"
    id="mediaType"
  />
  <label for="mediaType">Media Type</label>
</div>
