<div class="form-floating">
  <select #focusTarget class="form-select" [field]="form">
    <option selected value="">Individuals...</option>
    @for (
      individual of Object.values(ancestryDatabase().individuals);
      track individual.xref
    ) {
      <option value="{{ individual.xref }}">
        @let name = individual.names.at(0);
        @if (name == undefined) {
          Unnamed Person ({{ individual.xref }})
        } @else {
          {{ displayGedcomName(name) }} ({{ individual.xref }})
        }
      </option>
    }
  </select>
  <label>Individual</label>
</div>
