@if (vm(); as vm) {
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Multimedia</th>
        <th>Custom Title</th>
      </tr>
    </thead>
    <tbody>
      @for (link of formArray.controls; track link) {
        <tr>
          <td>
            <button
              class="btn btn-outline-secondary bi bi-trash"
              type="button"
              (click)="removeMultimediaLink($index)"
            ></button>
          </td>
          <td>
            <div class="form-floating">
              <select
                class="form-select"
                [formControl]="link.controls.multimediaXref"
                name="multimediaXref"
              >
                <option selected value="">Multimedia...</option>
                @for (
                  multimedia of vm.multimedias.values();
                  track multimedia.xref
                ) {
                  <option value="{{ multimedia.xref }}">
                    {{ multimedia.xref }}
                  </option>
                }
              </select>
              <label>Multimedia</label>
            </div>
          </td>
          <td>
            <div class="form-floating">
              <input
                class="form-control"
                type="text"
                [formControl]="link.controls.title"
                name="Title"
              />
              <label>Custom Title</label>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="input-group">
    <button
      class="btn btn-outline-secondary bi bi-plus"
      type="button"
      (click)="appendMultimediaLink()"
    ></button>
    <span class="input-group-text">Associate with another multimedia</span>
  </div>
}
