<table>
  <tbody>
    @for (sharedWith of form.controls; track $index) {
      <tr>
        <td>
          <button
            type="button"
            class="btn btn-danger bi-trash"
            (click)="removeSharedEvent($index)"
          ></button>
        </td>
        <td class="form-floating">
          <input
            class="form-control"
            id="xref_{{ $index }}"
            [formControl]="sharedWith.controls.xref"
          />
          <label for="xref_{{ $index }}">Shared With</label>
        </td>
        <td class="form-floating">
          <input
            class="form-control"
            id="role_{{ $index }}"
            [formControl]="sharedWith.controls.role"
          />
          <label for="role_{{ $index }}">Role</label>
        </td>
      </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <th>
        <button
          type="button"
          class="btn btn-outline-primary bi-plus"
          (click)="appendSharedEvent()"
        ></button>
      </th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>
</table>
