<details #container (toggle)="(true)">
  <summary>Repositories ({{ formArray.length }})</summary>
  @defer (when container.open) {
    @for (formGroup of formArray.controls; track formGroup) {
      @let repositoryXref = formGroup.controls.repositoryXref.value;
      <details [open]="newControls.has(formGroup)">
        <summary>
          <button
            class="btn btn-sm btn-outline-danger bi-trash"
            type="button"
            (click)="removeCitation($index)"
          ></button>
          {{
            ancestryDatabase().repositories.get(repositoryXref)?.name ??
              "Unknown repository"
          }}
        </summary>
        <app-input-repository-xref
          #focusTarget
          [formControl]="formGroup.controls.repositoryXref"
          [(ancestryDatabase)]="ancestryDatabase"
        ></app-input-repository-xref>
        <app-input-repository-call-number
          [formControl]="formGroup.controls.callNumber"
          [(ancestryDatabase)]="ancestryDatabase"
        ></app-input-repository-call-number>
      </details>
    }
    <div class="details-lookalike" (click)="appendCitation()">
      <button
        class="btn btn-sm btn-outline-primary bi-plus"
        (click)="$event.preventDefault()"
      ></button>
      Associate with another repository
    </div>
  }
</details>
