<app-input-names
  [open]="true"
  [formControl]="form.controls.names"
  [(ancestryDatabase)]="ancestryDatabase"
></app-input-names>

<app-input-sex
  [open]="true"
  [formControl]="form.controls.sex"
  [(ancestryDatabase)]="ancestryDatabase"
></app-input-sex>

<app-input-events
  [open]="true"
  [formControl]="form.controls.events"
  [(ancestryDatabase)]="ancestryDatabase"
></app-input-events>

<app-input-notes
  [open]="true"
  [formControl]="form.controls.notes"
  [(ancestryDatabase)]="ancestryDatabase"
></app-input-notes>

<app-input-unknown-records
  [open]="true"
  [formControl]="form.controls.unknownRecords"
  [(ancestryDatabase)]="ancestryDatabase"
></app-input-unknown-records>
