<form (ngSubmit)="submitForm()" class="vstack gap-3">
  <app-input-individual
    [formControl]="this.form"
    name="individual"
  ></app-input-individual>

  <h2>Gedcom Delta</h2>
  @for (r of records(); track $index) {
    @if (r.equivalent == false || r.currentRecord?.xref == xref()) {
      <app-gedcom-diff
        [oldGedcomRecord]="r.oldRecord"
        [newGedcomRecord]="r.currentRecord"
      ></app-gedcom-diff>
    }
  }

  <input type="submit" />
  <input type="button" value="Cancel" (click)="cancelForm()" />
</form>
