@if (vm(); as vm) {
  <h1>{{ vm.individuals.size }} Individuals</h1>
  <ul>
    @for (group of vm.individualsBySurname; track group.surname) {
      <li>{{ group.surname }}</li>
      <ul>
        @for (individual of group.individuals; track individual.xref) {
          <li>
            <a routerLink="/individual/{{ individual.xref }}">{{
              individual.name
            }}</a>
          </li>
        }
      </ul>
    }
  </ul>

  <div class="position-fixed bottom-0 end-0 rounded-circle m-5">
    <button
      type="button"
      class="btn btn-primary btn-lg bi-plus"
      (click)="editDialog.showModal()"
    ></button>
  </div>

  <dialog #editDialog>
    <app-individual-editor (finished)="editDialog.close()" />
  </dialog>
}
