@if (vm(); as vm) {
  <h1>{{ vm.sources.length }} Sources</h1>
  <ul>
    @for (source of vm.sources; track source) {
      <li>
        <a routerLink="/source/{{ source.xref }}">
          {{ source.abbr || source.xref }}
        </a>
      </li>
    }
  </ul>

  <div class="position-fixed bottom-0 end-0 rounded-circle m-5">
    <button
      type="button"
      class="btn btn-primary btn-lg bi-plus"
      (click)="editDialog.showModal()"
    ></button>
  </div>

  <dialog #editDialog>
    @defer (when editDialog.open) {
      <app-source-editor (finished)="editDialog.close()" />
    }
  </dialog>
}
