@if (vm(); as vm) {
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Xref</th>
        <th>filePath</th>
        <th>mediaType</th>
      </tr>
    </thead>
    <tbody>
      @for (multimedia of vm.multimedia; track multimedia.xref) {
        <tr>
          <td>
            <a routerLink="/multimedia/{{ multimedia.xref }}">{{
              multimedia.xref
            }}</a>
          </td>
          <td>{{ multimedia.filePath }}</td>
          <td>{{ multimedia.mediaType }}</td>
        </tr>
      }
    </tbody>
  </table>
}
