@if (vm(); as vm) {
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Individual</th>
        <th scope="col">Event</th>
        <th scope="col">Citation</th>
      </tr>
    </thead>
    <tbody>
      @for (ref of vm.citations; track $index) {
        <tr>
          <td>
            <a routerLink="/individual/{{ ref.individual.xref }}">{{
              ref.individual.name
            }}</a>
          </td>
          <td>{{ ref.event.type }}</td>
          <td>
            <pre>{{ ref.citation.text }}</pre>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
