<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Repository Xref</th>
            <th scope="col">Repository</th>
            <th scope="col">Call Number</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let sr of source().repositories">
            <tr *ngIf="sr.callNumbers.length == 0">
                <td>{{sr.repositoryXref}}</td>
                <td>{{sr.repository().name}}</td>
                <td></td>
            </tr>
            <tr *ngFor="let callNumber of sr.callNumbers">
                <td>{{sr.repositoryXref}}</td>
                <td>{{sr.repository().name}}</td>
                <td>{{callNumber}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>