@if (vm(); as vm) {
  <h1>{{ vm.source.abbr ?? vm.source.xref }}</h1>

  <h2>Title</h2>
  <div>{{ vm.source.title }}</div>

  <h2>Text</h2>
  <div>{{ vm.source.text }}</div>

  <h2>Citations</h2>
  <app-source-citations [xref]="xref()"></app-source-citations>

  <h2>Repositories</h2>
  <app-source-repositories [xref]="xref()"></app-source-repositories>

  <h2>Multimedia</h2>
  <app-source-multimedia [xref]="xref()"></app-source-multimedia>

  <h2>Unknown Records</h2>
  <app-source-unknowns [xref]="xref()"></app-source-unknowns>

  <h2>Gedcom</h2>
  <app-gedcom-diff
    [oldGedcomText]="vm.oldGedcomText"
    [newGedcomText]="vm.newGedcomText"
  ></app-gedcom-diff>

  <div class="position-fixed bottom-0 end-0 rounded-circle m-5">
    <button
      type="button"
      class="btn btn-primary btn-lg bi-pencil"
      (click)="openSourceEditor()"
    ></button>
  </div>

  <dialog #editDialog>
    <app-source-editor
      [xref]="xref()"
      (finished)="closeSourceEditor()"
    ></app-source-editor>
  </dialog>
}
