@import "../../../node_modules/bootstrap/scss/bootstrap";

div {
    white-space: pre-wrap;
}

dialog {
    width: 80%;
}

mat-form-field {
    width: 100%;
}

textarea {
    field-sizing: content;
    @extend .h-auto;
}

table {
    @extend .table;
    @extend .table-striped;
}

td pre {
    margin: 0;
}