<app-source-view-abbr [source]="source()"></app-source-view-abbr>
<app-source-view-title [source]="source()"></app-source-view-title>

<h2>Text</h2>
<div>{{ source().text?.value }}</div>

<h2>Repositories</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Repository Xref</th>
            <th scope="col">Repository</th>
            <th scope="col">Call Number</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let sr of source().repositories">
            <tr *ngIf="sr.callNumbers.length == 0">
                <td>{{sr.repositoryXref}}</td>
                <td>{{ancestryService.repository(sr.repositoryXref).name}}</td>
                <td></td>
            </tr>
            <tr *ngFor="let callNumber of sr.callNumbers">
                <td>{{sr.repositoryXref}}</td>
                <td>{{ancestryService.repository(sr.repositoryXref).name}}</td>
                <td>{{callNumber}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>

<h2>Citations</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Individual</th>
            <th scope="col">Event</th>
            <th scope="col">Citation</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ref of source().citations()">
            <td><a routerLink="/individual/{{ ref.individual.xref }}">{{ ref.individual.name }}</a></td>
            <td>{{ ref.event.type }}</td>
            <td>
                <pre>{{ ref.citation.text }}</pre>
            </td>
        </tr>
    </tbody>
</table>

@if (source().unknowns.length > 0) {
<h2>Unknown Records</h2>
<pre *ngFor="let unknown of source().unknowns">{{ unknown.gedcomRecord().text().join('\n') }}</pre>
}

<h2>gedcom</h2>
<pre>{{ source().gedcomRecord().text().join('\n') }}</pre>

<h2><button (click)="openForm()">Edit!</button></h2>

<dialog #editDialog>
    <form (ngSubmit)="submitForm()" class="vstack gap-3">
        <app-source-edit-abbr [(sourceModel)]="model!"></app-source-edit-abbr>
        <app-source-edit-title [(sourceModel)]="model!"></app-source-edit-title>
        <app-source-edit-text [(sourceModel)]="model!"></app-source-edit-text>
        <app-source-edit-repositories [(sourceModel)]="model!"></app-source-edit-repositories>
        <app-source-edit-unknowns [(sourceModel)]="model!"></app-source-edit-unknowns>
        <input type="submit">
        <input type="button" value="Cancel" (click)="editDialog.close()">

        <pre>{{ model | json }}</pre>
    </form>
</dialog>