<h1>
    <app-source-view-abbr [source]="source()"></app-source-view-abbr>
</h1>

<h2>Title</h2>
<app-source-view-title [source]="source()"></app-source-view-title>

<h2>Text</h2>
<app-source-view-text [source]="source()"></app-source-view-text>

@if (source().repositories.length > 0) {
<h2>Repositories</h2>
<app-source-view-repositories [source]="source()"></app-source-view-repositories>
}

@if (source().citations.length > 0) {
<h2>Citations</h2>
<app-source-view-citations [source]="source()"></app-source-view-citations>
}

@if (source().unknowns.length > 0) {
<h2>Unknown Records</h2>
<app-source-view-unknowns [source]="source()"></app-source-view-unknowns>
}

<h2>gedcom</h2>
<pre>{{ source().gedcomRecord().text().join('\n') }}</pre>

<h2><button (click)="openForm()">Edit!</button></h2>

<dialog #editDialog>
    <form (ngSubmit)="submitForm()" class="vstack gap-3">
        <app-source-edit-abbr [(sourceModel)]="model!"></app-source-edit-abbr>
        <app-source-edit-title [(sourceModel)]="model!"></app-source-edit-title>
        <app-source-edit-text [(sourceModel)]="model!"></app-source-edit-text>
        <app-source-edit-repositories [(sourceModel)]="model!"></app-source-edit-repositories>
        <app-source-edit-unknowns [(sourceModel)]="model!"></app-source-edit-unknowns>
        <input type="submit">
        <input type="button" value="Cancel" (click)="editDialog.close()">

        <pre>{{ model | json }}</pre>
    </form>
</dialog>