<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Unknown Gedcom Record</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let unknown of sourceModel().unknowns; index as i">
            <td>
                <button class="btn btn-outline-secondary bi bi-trash" type="button" (click)="remove(i)"></button>
            </td>
            <td>
                <pre>{{ unknown.text().join("\n") }}</pre>
            </td>
        </tr>
    </tbody>
</table>
<!-- <button class="btn btn-outline-secondary" type="button">x</button>
    <div class="form-floating">
        <select class="form-select" [(ngModel)]="sr.repositoryXref">
            <option selected>Repositories...</option>
            <option *ngFor="let repository of ancestryService.repositories().toList()" value="{{repository.xref}}">
                {{repository.name ?? repository.xref}}
            </option>
        </select>
        <label>Repository</label>
    </div>
    <div class="form-floating">
        <input class="form-control" type="text" [(ngModel)]="sr.callNumber">
        <label>Call Number</label>
    </div> -->