<div class="input-group" *ngFor="let sr of sourceModel().repositoryCitations; index as i">
    <button class="btn btn-outline-secondary bi bi-trash" type="button" (click)="remove(i)"></button>
    <div class="form-floating">
        <select class="form-select" [(ngModel)]="sr.repositoryXref">
            <option selected>Repositories...</option>
            <option *ngFor="let repository of ancestryService.repositories().toList()" value="{{repository.xref}}">
                {{repository.name ?? repository.xref}}
            </option>
        </select>
        <label>Repository</label>
    </div>
    <div class="form-floating">
        <input class="form-control" type="text" [(ngModel)]="sr.callNumbers[0]">
        <label>Call Number</label>
    </div>
</div>
<div class="input-group">
    <button class="btn btn-outline-secondary bi bi-plus" type="button" (click)="append()"></button>
    <span class="input-group-text">Associate with another repository</span>
</div>