@if (vm(); as vm) {
  <h2>Xref</h2>
  <pre>{{ vm.multimedia.xref }}</pre>

  <h2>File Path</h2>
  <pre>{{ vm.multimedia.filePath }}</pre>

  <h2>Media Type</h2>
  <pre>{{ vm.multimedia.mediaType }}</pre>

  <div class="position-fixed bottom-0 end-0 rounded-circle m-5">
    <button
      type="button"
      class="btn btn-primary btn-lg bi-pencil"
      (click)="editDialog.showModal()"
    ></button>
  </div>

  <dialog #editDialog>
    <app-multimedia-editor [xref]="xref()" (finished)="editDialog.close()" />
  </dialog>
}
