@if (vm(); as vm) {
  <h2>Title</h2>
  <pre>{{ vm.multimedia.title }}</pre>

  <h2>File Path</h2>
  <pre>{{ vm.multimedia.filePath }}</pre>

  <h2>Media Type</h2>
  <pre>{{ vm.multimedia.mediaType }}</pre>

  <h2>Preview</h2>
  <app-multimedia-preview [filePath]="vm.multimedia.filePath" />

  <h2>Citations</h2>
  <app-multimedia-citations
    [xref]="xref()"
    [ancestryDatabase]="ancestryDatabase()"
  />

  <div class="position-fixed bottom-0 end-0 rounded-circle m-5">
    <button
      type="button"
      class="btn btn-primary btn-lg bi-pencil"
      aria-label="Edit multimedia"
      (click)="editDialog.showModal()"
    ></button>
  </div>

  <app-gedcom-editor-dialog #editDialog type="OBJE" [xref]="xref()" />
}
