@if (vm(); as vm) {
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Context</th>
        <th>Event</th>
        <th>Citation</th>
      </tr>
    </thead>
    <tbody>
      @for (citation of vm.citations; track citation) {
        <tr>
          <td>
            @if (citation.type === "Individual") {
              Individual:
              <app-individual-link [xref]="citation.individual.xref" />
            } @else if (citation.type === "Family") {
              Family:
              <a [routerLink]="['/family', citation.family.xref]">{{
                citation.family.xref
              }}</a>
            }
          </td>
          <td>{{ citation.event }}</td>
          <td>
            <a [routerLink]="['/source', citation.citation.sourceXref]">{{
              citation.citation.text || citation.citation.sourceXref
            }}</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
