@if (vm(); as vm) {
  <h1>{{ vm.multimedias.length }} Multimedias</h1>
  <ul>
    @for (multimedia of vm.multimedias; track multimedia.xref) {
      <li>
        <a routerLink="/multimedia/{{ multimedia.xref }}">
          {{ multimedia.filePath || multimedia.xref }}
        </a>
      </li>
    }
  </ul>

  <div class="position-fixed bottom-0 end-0 rounded-circle m-5">
    <button
      type="button"
      class="btn btn-primary btn-lg bi-plus"
      aria-label="Add multimedia"
      (click)="editDialog.showModal()"
    ></button>
  </div>

  <app-gedcom-editor-dialog #editDialog type="OBJE" />
}
