<table>
  <thead>
    <tr>
      <th>Old Gedcom</th>
      <th>New Gedcom</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="old-gedcom">
        @for (difference of differences(); track $index) {
          @let class = difference.identical ? "identical" : "different";
          @let indent = difference.lhs && /^\d+/.exec(difference.lhs)?.[0];
          <div class="{{ class }}" [attr.data-indent]="indent">
            {{ difference.lhs || "&nbsp;" }}
          </div>
        }
      </td>
      <td class="new-gedcom">
        @for (difference of differences(); track $index) {
          @let class = difference.identical ? "identical" : "different";
          @let indent = difference.rhs && /^\d+/.exec(difference.rhs)?.[0];
          <div class="{{ class }}" [attr.data-indent]="indent">
            {{ difference.rhs || "&nbsp;" }}
          </div>
        }
      </td>
    </tr>
  </tbody>
</table>
