table {
  width: 100%;
  table-layout: fixed;
}

th {
  width: 50%;
}

td {
  font-family: monospace;
  overflow: scroll;
  text-wrap: nowrap;
}

.identical {
  background-color: lightgray;
}

.old-gedcom .different {
  background-color: lightcoral;
}

.new-gedcom .different {
  background-color: lightgreen;
}
