<table>
  <thead>
    <tr>
      <th>Old Gedcom</th>
      <th>New Gedcom</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="old-gedcom">
        @for (difference of differences(); track $index) {
          @let class = difference.identical ? "identical" : "different";
          <div class="{{ class }}">{{ difference.lhs || "&nbsp;" }}</div>
        }
      </td>
      <td class="new-gedcom">
        @for (difference of differences(); track $index) {
          @let class = difference.identical ? "identical" : "different";
          <div class="{{ class }}">{{ difference.rhs || "&nbsp;" }}</div>
        }
      </td>
    </tr>
  </tbody>
</table>
